body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
#header {
  background-color: #f4f4f4;
}
.search-field {
  margin-left: 20%;
  margin-right: 20%;
  border: none;
  border-radius: 50px;
  outline: none;
}
.search-field:hover {
  border-color: rgb(166, 231, 240);
  /* outline: none;
  border: none; */
}
.search-box {
  width: 281px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  /* border-right: none; */
}
/* .search-button {
    padding: 10px 50px;
    border-radius: 25px;
    margin-left: 20px;
  } */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
#details {
  /* display: grid; */
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  background-color: #f4f4f4;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 5px solid rgb(219, 223, 226);
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}

.cart-main {
  padding-right: 30px;
  /*  background-color: lightcyan; */
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;

    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
#head {
  color: cyan;
}

/* Success Page  */
.success-page {
  place-items: center;
  text-align: center;
  min-height: 100vh;
  display: grid;
}

.success-page img {
  max-width: 550px;
  border-radius: 10px;
}
.success-page a {
  color: lightcoral;
}
